html {
    background-color: sandybrown;
}

/* styles.css */
body {
    background-color: sandybrown;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

header , p {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    margin: 10px 0 0;
    font-size: 1.2em; /* Adjust as needed */
}

h1 {
    margin: 0;
    font-size: 2.5em; /* Adjust as needed */
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background-color: burlywood;
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
button {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #1EBE5A;
}


.background-image {
    background-color: saddlebrown;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Optional for better text visibility */
    padding: 20px;
    border-radius: 10px; /* Optional for rounded corners */
}
